<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DashboardProject"
        tools:targetApi="31">

        <activity android:name=".Loginpage" /> <!-- ✅ Add this -->
        <activity android:name=".computer"/>
        <activity android:name=".signup"/>
        <activity android:name=".MainActivity3"/>
        <activity android:name=".civilsem"/>
        <activity android:name=".civilsubsem1"/>
        <activity android:name=".civilsubsem2"/>
        <activity android:name=".Computersem1"/>
        <activity android:name=".computersem2"/>
        <activity android:name=".computersem5"/>
        <activity android:name=".computersem6"/>
        <activity android:name=".Electrical"/>
        <activity android:name=".Electronics"/>
        <activity android:name=".electronicssem1"/>
        <activity android:name=".electronicssem2"/>
        <activity android:name=".mechanicalsem1"/>
        <activity android:name=".mechanicalsem2"/>
        <activity android:name=".Mechnicalsem"/>
        <activity android:name=".SemesterActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>
